---
import type { UnitSpace } from "../types/unitSpace";

interface Props {
  wrap?: boolean;
  gap?: UnitSpace;
}

const { wrap, gap } = Astro.props;
---

<style>
  .flex {
    display: flex;

    &[data-wrap="true"] {
      flex-wrap: wrap;
    }

    &[data-gap="0"] {
      gap: var(--u0);
    }
    &[data-gap="1"] {
      gap: var(--u1);
    }
    &[data-gap="2"] {
      gap: var(--u2);
    }
    &[data-gap="3"] {
      gap: var(--u3);
    }
    &[data-gap="4"] {
      gap: var(--u4);
    }
    &[data-gap="5"] {
      gap: var(--u5);
    }
  }
</style>

<div class="flex" data-wrap={wrap} data-gap={gap}>
  <slot />
</div>
