---
interface Props {
  size?: `${1 | 2}`;
  minecraft?: boolean;
}

const { size = "1", minecraft } = Astro.props;
---

<style>
  .heading {
    font-weight: var(--weight-bold);

    &[data-size="1"] {
      font-size: calc(3 * var(--u2));
    }

    &[data-size="2"] {
      font-size: calc(2 * var(--u2));
    }

    &[data-minecraft="true"] {
      font-family: Minecraft;
    }
  }
</style>

<span class="heading" data-size={size} data-minecraft={minecraft}>
  <slot />
</span>
