<style>
  .main {
    display: flex;
    justify-content: center;

    min-height: 100dvh;

    background-color: var(--gray-1);

    .content {
      flex: 1;

      background-color: var(--gray-2);

      max-width: var(--page-width);
    }
  }
</style>

<main class="main">
  <div class="content">
    <slot />
  </div>
</main>
