---
import { times } from "lodash-es";
---

<style>
  main {
    display: flex;
    flex-wrap: wrap;

    .test {
      width: var(--u0);
      height: var(--u0);
      background-color: blue;

      &:nth-child(odd) {
        background-color: red;
      }
    }
  }
</style>

<main>
  {times(500, () => <div class="test" />)}

  <slot />
</main>
