---
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Theme from "../components/Theme.astro";
import type { WithLocale } from "../types/withLocale";

type Props = WithLocale;

const { locale } = Astro.props;
---

<html lang={locale} class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        margin: 0;
      }
    </style>

    <Theme />
  </head>

  <body>
    <Main>
      <slot />
    </Main>

    <Footer {locale} />
  </body>
</html>
